/* HOTLINE */
.hotline-bar {
    position: absolute;
    background: #666;
    height: 32%;
    width: 200px;
    border-radius: 100%;
    padding: 0 10px;
    background-size: 100%;
    cursor: pointer;
    transition: all .8s;
    -webkit-transition: all .8s;
    z-index: 9;
    border-radius: 50px !important;
    bottom: 34%;
    left: 50%;
    margin-left: -20px;
    text-align: right;
    padding-right: 20px;
    font-size: 14px;
    font-weight: bold;
    z-index: -1;
}

.hotline-bar a {
    color: #FFF;
    margin-left: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.phonering-alo-phone {
    position: fixed;
    visibility: hidden;
    background-color: transparent;
    width: 140px;
    height: 140px;
    cursor: pointer;
    z-index: 20;
    bottom: -20px;
    left: -20px;
    display: block;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
}

.phonering-alo-phone.phonering-alo-show {
    visibility: visible
}

.phonering-alo-phone.phonering-alo-static {
    opacity: .6
}

.phonering-alo-phone.phonering-alo-hover,
.phonering-alo-phone:hover {
    opacity: 1
}

.phonering-alo-ph-circle {
    width: 84%;
    height: 84%;
    top: 8%;
    left: 8%;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: .1;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-circle {
    -webkit-animation: phonering-alo-circle-anim 1.1s infinite ease-in-out !important;
    animation: phonering-alo-circle-anim 1.1s infinite ease-in-out !important
}

.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-circle {
    -webkit-animation: phonering-alo-circle-anim 2.2s infinite ease-in-out !important;
    animation: phonering-alo-circle-anim 2.2s infinite ease-in-out !important
}

.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-circle,
.phonering-alo-phone:hover .phonering-alo-ph-circle {
    border-color: #00aff2;
    opacity: .5
}

.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-circle,
.phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-circle {
    border-color: #333;
    opacity: .5
}

.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-circle {
    border-color: #000;
    opacity: .5
}

.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-circle,
.phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-circle {
    border-color: #ccc;
    opacity: .5
}

.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-circle {
    border-color: #75eb50;
    opacity: .5
}

.phonering-alo-ph-circle-fill {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-circle-fill {
    -webkit-animation: phonering-alo-circle-fill-anim 1.7s infinite ease-in-out !important;
    animation: phonering-alo-circle-fill-anim 1.7s infinite ease-in-out !important
}

.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-circle-fill {
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out !important;
    opacity: 0 !important
}

.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-circle-fill,
.phonering-alo-phone:hover .phonering-alo-ph-circle-fill {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: .75 !important
}

.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-circle-fill,
.phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-circle-fill {
    background-color: rgba(30, 30, 30, 0.5);
    opacity: .75 !important
}

.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-circle-fill {
    background-color: rgba(66, 66, 66, 0.5);
}

.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-circle-fill,
.phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-circle-fill {
    background-color: rgba(204, 204, 204, 0.5);
    opacity: .75 !important
}

.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-circle-fill {
    background-color: rgba(44, 44, 44, 0.5);
    opacity: .75 !important
}

.phonering-alo-ph-img-circle {
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
    padding: 10px;
    position: absolute;
    background: rgba(30, 30, 30, 0.1) url(../images/iconphone.png) no-repeat center center;
    border-radius: 100%;
    border: 1px solid transparent;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.phonering-alo-ph-img-circle a {
    display: block;
}

.phonering-alo-ph-img-circle a img {
    width: 80%;
}

.phonering-alo-phone.phonering-alo-active .phonering-alo-ph-img-circle {
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out !important;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out !important
}

.phonering-alo-phone.phonering-alo-static .phonering-alo-ph-img-circle {
    -webkit-animation: phonering-alo-circle-img-anim 0 infinite ease-in-out !important;
    animation: phonering-alo-circle-img-anim 0 infinite ease-in-out !important
}

.phonering-alo-phone.phonering-alo-hover .phonering-alo-ph-img-circle,
.phonering-alo-phone:hover .phonering-alo-ph-img-circle {
    background-color: #00aff2;
}

.phonering-alo-phone.phonering-alo-green.phonering-alo-hover .phonering-alo-ph-img-circle,
.phonering-alo-phone.phonering-alo-green:hover .phonering-alo-ph-img-circle {
    background-color: #666;
}

.phonering-alo-phone.phonering-alo-green .phonering-alo-ph-img-circle {
    background-color: #333;
}

.phonering-alo-phone.phonering-alo-gray.phonering-alo-hover .phonering-alo-ph-img-circle,
.phonering-alo-phone.phonering-alo-gray:hover .phonering-alo-ph-img-circle {
    background-color: #ccc;
}

.phonering-alo-phone.phonering-alo-gray .phonering-alo-ph-img-circle {
    background-color: #75eb50
}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        -webkit-opacity: .1
    }

    30% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        -webkit-opacity: .5
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: .1
    }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }

    100% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }

    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }

    30% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(.5) skew(1deg);
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }

    30% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }

    100% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }

    100% {
        -webkit-transform: rotate(0) scale(.7) skew(1deg);
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg)
    }

    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        transform: rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        transform: rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg)
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg)
    }

    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        transform: rotate(25deg) scale(1) skew(1deg)
    }

    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
        transform: rotate(-25deg) scale(1) skew(1deg)
    }

    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
        transform: rotate(25deg) scale(1) skew(1deg)
    }

    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg)
    }

    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        transform: rotate(0) scale(1) skew(1deg)
    }
}